.game-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
}

.game{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.word{
    display:flex;
    flex-direction: row;
}
.letter
{
    height: 50px;
    width: 50px;
    border: 5px grey solid;
    margin: 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    
}
.invalid{
    height: 50px;
    width: 50px;
    border: 5px red solid;
    margin: 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
.non-matching-letter{
    height: 50px;
    width: 50px;
    border: 5px grey solid;
    margin: 10px;
    background-color: lightgray;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
.matching-letter{
    height: 50px;
    width: 50px;
    border: 5px grey solid;
    margin: 10px;
    background-color: orange;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
.correct-letter{
    height: 50px;
    width: 50px;
    border: 5px grey solid;
    margin: 10px;
    background-color: lawngreen;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
.result{
    font-size:50px;
    text-align: center;
}
.online-status{
    position:absolute;
    font-size: 20px;
    left: 95%;
    height: auto;
    width: auto;
    border: 2px greenyellow  solid;
    background-color: lightgreen;
    border-radius: 25%;
}